@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 40%;
    --accent: 174 72% 40%;
    --accent-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 174 72% 32%;
    --radius: 0.5rem;
    --brand: 199 100% 26%;
    --brand-foreground: 0 0% 98%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 96%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 96%;
    --muted: 0 0% 14%;
    --muted-foreground: 0 0% 60%;
    --accent: 174 72% 40%;
    --accent-foreground: 0 0% 100%;
    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 174 72% 45%;
    --brand: 174 60% 45%;
    --brand-foreground: 0 0% 7%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
